* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/* Slides */
.mainBanner {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: relative;
    overflow: hidden;
}

.image {
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    transition: left 300ms ease-in-out;
}

#slide1, #slide2, #slide3 {
    background-size: cover;
    background-position: center;
    position: absolute;
}

#slide1 {
    background-image: url(./images/marek-piwnicki-y5gAjKo8Qeg-unsplash.jpg);
    top: 0;
    left: 0;
}
#slide2 {
    background-image: url(./images/mr-harter-zr3z8tGVYLE-unsplash.jpg);
    top: 0;
    left: 100vw;
}
#slide3 {
    background-image: url(./images/the-cleveland-museum-of-art-5l-2rxUiU6A-unsplash.jpg);
    top: 0;
    left: 200vw;
}

/* Arrows */
.slideControls {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.arrowContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    cursor: pointer;
}
.arrow svg {
    fill: white;
    opacity: 0.8;
}

/* Circles */
.posCircles {
    position: absolute;
    top: 90vh;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.circle {
    background-color: white;
    width: 0.8rem;
    height: 0.8rem;
    opacity: 0.6;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.circle.active {
    opacity: 0.8;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.6);
}